@tailwind base;
* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: underline;
}
a:hover {
    box-shadow: 0 0.25em 0 0 black;
}
@tailwind components;
@tailwind utilities;